# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Frontend
dist/
build/
.cache/
*.css.map
*.js.map

# Logs
*.log

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Miscellaneous
*.tmp
*.temp
*.bak
*.orig
*.pid
*.seed
*.tgz
*.zip
*.tar.gz
*.gz
*.rar
*.7z
*.mp3
*.jpg
*.svg
*.html
*.json
*.txt
*.md
*.yml
*.yaml
*.lock
*.map