# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Docker
*.dockerignore
Dockerfile
docker-compose.yml

# Frontend
build/
dist/
.cache/
*.log

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Log files
*.log
logs/
*.out
*.err

# Miscellaneous
*.tmp
*.bak
*.orig
*.swp
*.swo
*.pid
*.seed
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.mp3
*.jpg
*.svg
*.html
*.css
*.json
*.jsx
*.md
*.txt
*.yml
test_results/